---
import { Image } from 'astro:assets'

export interface Props {
	title: string
	category: string
}

const { title, category } = Astro.props
---

		<article
			class='group space-y-5'
		>
		<div class="overflow-hidden rounded-3xl w-full">
			<Image
				src='https://via.assets.so/game.png?id=1&q=95&w=750&h=500&fit=fill'
				alt='Shoes'
				inferSize
				class='object-cover group-hover:scale-110 duration-300 transition-transform'
			/>
		</div>
			<div class="text-left space-y-1 uppercase">
				<h2 class="font-semibold text-charcoal text-xl" >{category}</h2>
				<h1 class='text-4xl font-bold text-gray-950 tracking-wider'>
					{title}
				</h1>
			</div>
		</article>
