---
import { ArrowDownRight } from 'lucide-react'
---

<section
  id="hero"
  class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 mt-3 pt-20 pb-14 border-b border-navy/30"
>
<span class="text-charcoal tracking-wide uppercase ml-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum debitis voluptatem.</span>
  <div class="flex items-end w-full">
    <h1 class="text-9xl font-medium uppercase">
      <span class="text-navy font-semibold">Ohmu</span> Online Operations
    </h1>
    <div class="bg-gold rounded-full p-8">
      <ArrowDownRight className="text-ivory" size={75} />
    </div>
  </div>
</section>
