<section
  id="projects"
  class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 mt-3 pt-10 pb-20"
>
<div class="flex justify-between items-center w-full">
  <h2 class="text-9xl font-medium uppercase">
      Proyectos
  </h2>
  <div class="bg-gold rounded-full p-8 px-10 text-center uppercase text-ivory">
      <p>ver <br> mas</p>
    </div>
</div>
</section>