---
import ServicesAccordion from '../react/services-accordion'
---

<section
  id="servicios"
  class="bg-gray-950 text-ivory pb-20"
>
<div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 mt-3 py-14">
  <h2 class="text-9xl font-medium uppercase">
        Servicios
  </h2>
  <ServicesAccordion client:visible />
</div>
</section>