---
import ServicesAccordion from '../react/services-accordion'
import { uiInfo } from '@/constants/site-data'

interface Props {
	locale: 'es' | 'en' | 'rs'
}

const { locale } = Astro.props

const uiText = uiInfo[locale as keyof typeof uiInfo]
---

<section
  id="servicios"
  class="bg-gray-950 text-ivory pb-20"
>
<div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 mt-3 py-14">
  <h2 class="text-9xl font-medium uppercase">
        {uiText['services-1']}
  </h2>
  <ServicesAccordion locale={locale} client:visible />
</div>
</section>