---
import { Image } from 'astro:assets'
import SubheroPic from '@/assets/sub-hero-desk-windmills.webp'
import { uiInfo } from '@/constants/site-data'

interface Props {
	locale: 'es' | 'en' | 'rs'
}

const { locale } = Astro.props

const uiText = uiInfo[locale as keyof typeof uiInfo]
---

<section id="subhero" class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 mt-3 pt-5 pb-20 space-y-14 border-b border-navy/30">
  <!-- TODO Marquee -->
   <!-- ? de que?? -->
  <Image
    src={SubheroPic}
    alt="Subhero Pic"
    class='w-full [aspect-ratio:16/6] rounded-[2rem] object-cover'
    loading='eager' 
  />
  <h3 class="font-medium uppercase text-3xl">{uiText['we-are-1']}</h3>
  <p class="text-5xl font-semibold uppercase leading-snug text-navy">
    {uiText['we-are-2']}
  </p>
</section>