---
import { Quote } from 'lucide-react'
---

<section id="testimonios" class='bg-gold'>
  <div class="w-full h-full py-5 mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 felx">
    <div class="bg-gray-950 rounded-full p-8 w-fit text-ivory">
      <Quote className="text-ivory" size={75} fill='currentColor' />
    </div>
  </div>
</section>
